{% extends "layout.html" %}

{% block main %}
<div class="container-fluid sznio">
    <div class="column mery_bg">aaa</div>
    <div class="column kat_bg"></div>



    <div class="container-fluid ">
        <div class="column "></div>
            <div class="row ">
                <img  class="image_resize_1" src="../static/kartina1.jpg" class="img-fluid" alt="...">
                <img class="image_resize_1" src="../static/annemieke1.JPG" class="img-fluid" alt="...">
            </div>
        </div> 
        <div class="column "></div>
            <div class="row ">
                <img  class="image_resize_1" src="../static/kartina1.jpg" class="img-fluid" alt="...">
                <img class="image_resize_1" src="../static/annemieke1.JPG" class="img-fluid" alt="...">
            </div>
        </div> 



   
</div>
{% endblock %}