{% extends "layout.html" %}

{% block main %}

<div class="container-fluid">
<div class="row">
    <div class="column">
        <img  class="image_resize_1" src="../static/kartina1.jpg" class="img-fluid" alt="...">
        <img class="image_resize_1" src="../static/popo1.JPG" class="img-fluid" alt="...">

        <img class="image_resize_1" src="../static/babcia1.JPG" class="img-fluid" alt="...">
    </div>
    <div class="column">
        <img class="image_resize_1" src="../static/mama1.jpg" class="img-fluid" alt="...">
        <img class="image_resize_1" src="../static/annemieke1.JPG" class="img-fluid" alt="...">
        <img class="image_resize_1" src="../static/sznio1.JPG" class="img-fluid" alt="...">
    </div>
    <div class="column">
        <img  class="image_resize_1" src="../static/mery1.jpg" class="img-fluid" alt="...">
        <img class="image_resize_1" src="../static/michal1.JPG" class="img-fluid" alt="...">
        <img  class="image_resize_1" src="../static/laz1.jpg" class="img-fluid" alt="...">
    </div>
    <div class="column">
        <img  class="image_resize_1" src="../static/akash1.jpg" class="img-fluid" alt="...">
        <img class="image_resize_1" src="../static/vic1.JPG" class="img-fluid" alt="...">
        
    </div>
</div>
</div>

{% endblock %}